@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@model RenderingModel

<header class="page-header">
  <!-- [Homepage Carousell] -->
  @Html.Sitecore().Placeholder("Carousel")
  <!-- [/Homepage Carousell] -->
</header>
<section class="section section-full">
  <!-- [Featured Events] -->
  <div class="container">
    @Html.Sitecore().Placeholder("features")
  </div>
  <!-- [/Featured Events] -->
  <!-- [Upcoming Events] -->
  @Html.Sitecore().Placeholder("UpcomingEvents")
  <!-- [/Upcoming Events] -->
</section>
