@using events.tac.local.Models

@model IEnumerable<NavigationItem>

<ol class="breadcrumb">
  @foreach (var navItem in Model)
  {
    <li>
      @if (!string.IsNullOrEmpty(navItem.URL))
      {
        <a class="@(navItem.Active ? "active" : string.Empty)" href="@navItem.URL">@navItem.Title</a>
      }
      else
      {
        @navItem.Title
      }
    </li>
  }
</ol>
