@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@using events.tac.local.Models

@model IEnumerable<NavigationItem>

<ol class="breadcrumb">
  @foreach(var navItem in Model)
  {
    <li>
      <a class="@(navItem.Active ? "active" : string.Empty)"
         href="@navItem.URL">@navItem.Title</a>
    </li>
  }
</ol>